@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --background-main: 0, 0, 0;
  --text-main: 255, 255, 255;
}

body {
  color: rgb(var(--text-main));
  background-color: rgb(var(--background-main));
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  /* .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  } */
}

@layer base {
  /* * {
    @apply border-border;
  } */

  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  .h1-bold {
    @apply text-[290px] font-bold -tracking-[5.8px]
  }

  .h1-reg {
    @apply text-[290px] font-light -tracking-[5.8px]
  }

  .h2-bold {
    @apply text-[110px] font-bold -tracking-[2.2px]
  }

  .h2-reg {
    @apply text-[110px] font-light -tracking-[2.2px]
  }

  .h3-bold {
    @apply text-[32px] sm:text-[68px] font-bold leading-tight -tracking-[0.64px] sm:-tracking-[1.36px]
  }

  .h3-bold-mobile {
    @apply text-[32px] font-bold -tracking-[2%] leading-9
  }

  .h3-reg {
    @apply text-[68px] font-light -tracking-[1.36px]
  }

  .h4-bold {
    @apply text-[20px] sm:text-[42px] font-bold -tracking-[0.28px] sm:-tracking-[0.84px]
  }

  .h4-reg {
    @apply text-[14px] sm:text-[42px] font-normal -tracking-[0.28px] sm:-tracking-[0.84px]
  }

  .h4-reg-mobile {
    @apply text-[12px] sm:text-[16px] md:text-[20px] font-normal -tracking-[0.24px] leading-[165.949%]
  }

  .h5-bold {
    @apply text-[26px] font-bold -tracking-[0.52px]
  }

  .h5-reg {
    @apply text-[16px] sm:text-[26px] font-normal -tracking-[0.2px] sm:-tracking-[0.52px]
  }

  .h5-reg-mobile {
    @apply text-[16px] font-normal leading-5 -tracking-[0.32px]
  }

  .h6-reg {
    @apply text-[16px] font-normal -tracking-[0.52px]
  }

  .button-text {
    @apply text-[20px] font-medium -tracking-[0.2px]
  }

  .body-text {
    @apply text-[16px] font-normal -tracking-normal leading-normal
  }

  .header-body-text {
    @apply text-[8px] sm:text-[16px] font-normal -tracking-normal
  }

  .label-form {
    @apply text-[8px] leading-[9.38px] -tracking-[2%] lg:text-[16px] lg:-tracking-[0.52px] font-normal
  }

  .lora-caption {
    @apply text-[12px] leading-normal font-normal
  }

  .mobile-caption-reg {
    @apply text-[7.5px] leading-[10px] -tracking-[2%]
  }

  /* TEXT GRADIENT */
  .gradient-text-1 {
    @apply bg-clip-text bg-gradient-to-b from-[#F6F7F7] to-[#909191] text-transparent
  }

  .gradient-text-2 {
    @apply bg-clip-text bg-gradient-to-b from-[#C9C9C9] to-[#232323] text-transparent
  }

  .gradient-text-services {
    @apply bg-clip-text bg-gradient-to-r from-[#C9C9C9] to-[#9D9D9D] text-transparent
  }

  /* COLORS */
  .bg-blue-produx {
    @apply bg-[#0F91FF]
  }

  .bg-blue-light {
    @apply bg-[#80C6FF]
  }

  .bg-produx-white {
    @apply bg-[#F6F7F7]
  }

  .bg-produx-black {
    @apply bg-[#262626]
  }

  .bg-produx-grey {
    @apply bg-[#666666]
  }

  /* TEXT COLORS */
  .text-light-grey {
    @apply text-[#9B9B9B]
  }

  .text-produx-white {
    @apply text-[#F6F7F7]
  }

  .text-produx-grey {
    @apply text-[#666666]
  }

  .text-produx-black {
    @apply text-[#262626]
  }

  /* COMPONENTS */
  .bottom-navigation-card {
    @apply rounded-[14px] md:rounded-3xl py-2 md:py-3 px-6 md:px-[60px] bg-gradient-bottom-nav shadow-[0_8px_20px_0px_rgba(68, 68, 68, 0.08)] bg-clip-padding backdrop-filter backdrop-blur-sm
  }

  .footer-contact-list {
    @apply flex items-center gap-x-1 cursor-pointer
  }

  .other-media-list {
    @apply flex flex-col sm:flex-row sm:items-center gap-x-1 cursor-pointer gap-y-2
  }

  .text-field-outline {
    @apply bg-transparent p-0 pt-[3px] pb-[5px] outline-none w-[118px] rounded-none border-b-2 border-[#9B9B9B] placeholder:text-[#9B9B9B]
  }

  .card-services-list {
    @apply flex items-center gap-x-[6px] sm:gap-x-3 mt-1 sm:mt-2 text-[8px] sm:text-[16px] leading-none sm:leading-7
  }

  .card-pricing-list {
    @apply flex items-center gap-x-[6px] sm:gap-x-3 mt-1 sm:mt-2 text-[12px] sm:text-[16px] leading-none sm:leading-7
  }

  .div-underline {
    @apply after:content-[""] after:w-full after:h-[1.5px] after:bg-[#9B9B9B] after:absolute after:left-0 after:bottom-0
  }

  .title-homescreen {
    @apply text-[42px] -tracking-[0.84px] leading-none md:text-[80px] md:-tracking-[2.4px] md:leading-[112.5%] font-bold uppercase text-center gradient-text-1
  }

  .sub-title-homescreen {
    @apply text-[16px] sm:text-[26px] font-normal -tracking-[0.32px] sm:-tracking-[0.52px] leading-5 sm:leading-10
  }

  /* UTILS */
  .mobile-display {
    @apply sm:hidden
  }

  .desktop-display {
    @apply hidden sm:block
  }
}